.cardfadefromleft:hover {
    animation: fadeBorderfromleft 1s forwards;
    border-color: #0f2634;
    border-style: solid;
    
}
.cardfadefromleft:hover  > div:first-child {
    animation: fadefromleft .3s forwards;
    background-color:#afc4d1;
    height: 100%;
}
@keyframes fadefromleft {
    0%  {width: 100%;   opacity: 0;}
   100% {width: 100%; opacity: 1}
}
   @keyframes fadeBorderfromleft {
0% { 
        border-left-width: 2px;
}
100% {
    border-left-width: 4px;
}
}
.crown {
    border-radius: 0 0 50% 50%;
}
.cardHover:hover .borderHover {
    border-color:#0f2634;
    border-style: solid;
    border-bottom-width: 1px;
}

.cardLoadFromLeft {
    animation: loadfromleft 1s forwards;
}
@keyframes loadfromleft {
    0%  {transform: translateX(-200px);   opacity: 0;}
   100% {transform: translateX(0); opacity: 1}
}
.cardLoadFromBottom {
    animation: loadfrombottom 1s forwards;
}
@keyframes loadfrombottom {
    0%  {transform: translateY(200px);   opacity: 0;}
   100% {transform: translateY(0); opacity: 1}
}
.cardLoadFromRight {
    animation: loadfromright 1s forwards;
}
@keyframes loadfromright {
    0%  {transform: translateX(200px);   opacity: 0;}
   100% {transform: translateX(0); opacity: 1}
}